
bin/Debug/net5.0/appsettings.json
bin/Debug/net5.0/basicDiscordServerBot.deps.json
bin/Debug/net5.0/basicDiscordServerBot.dll
bin/Debug/net5.0/basicDiscordServerBot.exe
bin/Debug/net5.0/basicDiscordServerBot.pdb
bin/Debug/net5.0/basicDiscordServerBot.runtimeconfig.dev.json
bin/Debug/net5.0/basicDiscordServerBot.runtimeconfig.json
bin/Debug/net5.0/Discord.Addons.Hosting.dll
bin/Debug/net5.0/Discord.Net.Commands.dll
bin/Debug/net5.0/Discord.Net.Core.dll
bin/Debug/net5.0/Discord.Net.Rest.dll
bin/Debug/net5.0/Discord.Net.Webhook.dll
bin/Debug/net5.0/Discord.Net.WebSocket.dll
bin/Debug/net5.0/Microsoft.Extensions.Configuration.Abstractions.dll
bin/Debug/net5.0/Microsoft.Extensions.Configuration.Binder.dll
bin/Debug/net5.0/Microsoft.Extensions.Configuration.CommandLine.dll
bin/Debug/net5.0/Microsoft.Extensions.Configuration.dll
bin/Debug/net5.0/Microsoft.Extensions.Configuration.EnvironmentVariables.dll
bin/Debug/net5.0/Microsoft.Extensions.Configuration.FileExtensions.dll
bin/Debug/net5.0/Microsoft.Extensions.Configuration.Json.dll
bin/Debug/net5.0/Microsoft.Extensions.Configuration.UserSecrets.dll
bin/Debug/net5.0/Microsoft.Extensions.DependencyInjection.Abstractions.dll
bin/Debug/net5.0/Microsoft.Extensions.DependencyInjection.dll
bin/Debug/net5.0/Microsoft.Extensions.FileProviders.Abstractions.dll
bin/Debug/net5.0/Microsoft.Extensions.FileProviders.Physical.dll
bin/Debug/net5.0/Microsoft.Extensions.FileSystemGlobbing.dll
bin/Debug/net5.0/Microsoft.Extensions.Hosting.Abstractions.dll
bin/Debug/net5.0/Microsoft.Extensions.Hosting.dll
bin/Debug/net5.0/Microsoft.Extensions.Logging.Abstractions.dll
bin/Debug/net5.0/Microsoft.Extensions.Logging.Configuration.dll
bin/Debug/net5.0/Microsoft.Extensions.Logging.Console.dll
bin/Debug/net5.0/Microsoft.Extensions.Logging.Debug.dll
bin/Debug/net5.0/Microsoft.Extensions.Logging.dll
bin/Debug/net5.0/Microsoft.Extensions.Logging.EventLog.dll
bin/Debug/net5.0/Microsoft.Extensions.Logging.EventSource.dll
bin/Debug/net5.0/Microsoft.Extensions.Options.ConfigurationExtensions.dll
bin/Debug/net5.0/Microsoft.Extensions.Options.dll
bin/Debug/net5.0/Microsoft.Extensions.Primitives.dll
bin/Debug/net5.0/Newtonsoft.Json.dll
bin/Debug/net5.0/ref/basicDiscordServerBot.dll
bin/Debug/net5.0/runtimes/win/lib/netcoreapp2.0/System.Diagnostics.EventLog.dll
bin/Debug/net5.0/System.Diagnostics.EventLog.dll
bin/Debug/net5.0/System.Interactive.Async.dll
bin/Debug/net5.0/System.Linq.Async.dll
obj/basicDiscordServerBot.csproj.nuget.dgspec.json
obj/basicDiscordServerBot.csproj.nuget.g.props
obj/basicDiscordServerBot.csproj.nuget.g.targets
obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
obj/Debug/net5.0/apphost.exe
obj/Debug/net5.0/basicDiscordServerBot.AssemblyInfo.cs
obj/Debug/net5.0/basicDiscordServerBot.AssemblyInfoInputs.cache
obj/Debug/net5.0/basicDiscordServerBot.assets.cache
obj/Debug/net5.0/basicDiscordServerBot.csproj.AssemblyReference.cache
obj/Debug/net5.0/basicDiscordServerBot.csproj.CopyComplete
obj/Debug/net5.0/basicDiscordServerBot.csproj.CoreCompileInputs.cache
obj/Debug/net5.0/basicDiscordServerBot.csproj.FileListAbsolute.txt
obj/Debug/net5.0/basicDiscordServerBot.dll
obj/Debug/net5.0/basicDiscordServerBot.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net5.0/basicDiscordServerBot.genruntimeconfig.cache
obj/Debug/net5.0/basicDiscordServerBot.pdb
obj/Debug/net5.0/ref/basicDiscordServerBot.dll
obj/project.assets.json
obj/project.nuget.cache
.vs/basicDiscordServerBot/DesignTimeBuild/.dtbcache.v2
.vs/basicDiscordServerBot/v16/.suo
appsettings.json
